<div id="atsParent">
    <span class="atsSpacer"></span>
    <div class="atsPage">
        <div class="atsParagraph">
            <h1>Purpose:</h1>

            <p>This site was developed with three priorities.</p>
    
            <ol>
                <li>Teach myself full stack web development</li>
                <li>Create a platform without ads or data collection/ sales, with content displayed in a larger format</li>
                <li>Demonstrate my ability to quickly learn distinctly different skills</li>
            </ol>    
        </div>

        <div class="atsParagraph">
            <h1>Stages:</h1>

            <ol>
                <li>Prototype</li>
                <li>Alpha Testing</li>
                <li>Beta Testing</li>
                <li>V.1 ...</li>
            </ol>

            <p>
                This project is a hobby and currently in the prototype stage. In this stage, the focus is 
                on adding features and social media providers.
            </p>
            <p>
                If the alpha testing stage is reached, a small number of accounts will be opened, and focus will shift to identifying 
                remaining bugs and adding requested features.
            </p>
            <p>
                Development beyond the prototype stage is subject to demand. At a minimum I will add/support features I want, as I 
                enjoy the advantages of building tools to control my social media feeds.
            </p>
        </div>

        <div class="atsParagraph atsLast">
            <h1>About me:</h1>

            <a href="https://gregnewman.info">GregNewman.info</a>
        </div>
    </div>
    <span class="atsSpacer"></span>
</div>
