.background {
    background-image: url("/assets/nature/Wilderness_edit.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;

    .homeSpacer {
        flex: 1 1 auto;
        min-width: 10vw;
    }
}

.content {
    padding: 12vh 0 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex: 1 1 480px;

    #hi {
        font: 200 70px "Work Sans", sans-serif;
        text-shadow: 0.5px 0.5px black;
    }

    #welcome {
        font-size: 300%;
        font-weight: 500;
        line-height: 1.1em;
    }
}

.content, .icon {
    height: 20em;
}

#backgroundSource {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    color: white;
    font: 300 12px/1.1em "Work Sans", sans-serif;
    text-shadow: 1px 1px 1px dimgray;
}

@media (orientation: portrait) {
    .content { flex-flow: column; }
    .icon { order: 1; }
    .hello { order: 2; }

    @media (max-width: 600px) {
        #backgroundSource { font-size: 8px; }
    }
}

@media (orientation: landscape) and (max-width: 1000px) {
    #backgroundSource { font-size: 8px; }
}

@media (max-width: 420px), (max-height: 420px) {
    .content, .icon { height: 12em; }
    .hello {
        #hi { font: 200 50px "Work Sans"; }
        #welcome { font-size: 200%;}
    }
}