<div class="background">
    <div class="homeSpacer"></div>
    <div class = "content">
        <div class = "hello">
            <div id="hi">Hi there!</div>
            <div id="welcome">Welcome to Campfire</div>
        </div>
        <img src="assets\Icon.png" class="icon">
    </div>
    <div class="homeSpacer"></div>
</div>

<div id="backgroundSource">
    <span>
        Image source: 
        <a href="https://commons.wikimedia.org/wiki/File:Alone_in_the_unspoilt_wilderness_(Unsplash).jpg"
            rel="noopener" target="_blank">Wikimedia Commons 
        </a>
        by 
        <a href="https://unsplash.com/@davidmarcu" rel="noopener" target="_blank">
            David Marcu
        </a>
    </span>
</div>