<mat-toolbar class="appToolbar" [ngClass]="{'aboutToolbar' : onAboutPage}" id="toolbar">
  <a routerLink="/" id="homeLink">
    <img src="assets\Name.png" id="homeImage">
    <span id="homeText">Campfire</span>
  </a>
  
  <span class="spacer"></span>

  <button mat-icon-button id="toolbarDropdown"
    [matMenuTriggerFor]="buttonsMenu" (menuOpened)="toggleIcon(true)" (menuClosed)="toggleIcon(false)">
      <div class="icon-bar" [@hamburguerX]="isHamburger ? 'hamburguer' : 'topX'"></div>
      <div class="icon-bar" [@hamburguerX]="isHamburger ? 'hamburguer' : 'hide'"></div>
      <div class="icon-bar" [@hamburguerX]="isHamburger ? 'hamburguer' : 'bottomX'"></div>
  </button>

  
  <a mat-button routerLink="/" class="toolbarButton">HOME</a>

  <a mat-button routerLink="/about_this_site" routerLinkActive="active" class="toolbarButton">ABOUT THIS SITE</a>

  <a mat-button routerLink="/fora" routerLinkActive="active" class="toolbarButton" *ngIf="isAuthenticated">FORA</a>

  <button mat-button routerLink="/login" routerLinkActive="active" class="toolbarButton" *ngIf="!isAuthenticated">LOGIN</button>

  <button mat-button (click)="logout()" class="toolbarButton" *ngIf="isAuthenticated">LOGOUT</button>
</mat-toolbar>

<router-outlet></router-outlet>


<mat-menu #buttonsMenu="matMenu">
  <a mat-menu-item routerLink="/" routerLinkActive="active" class="dropdownButton">HOME</a>

  <a mat-menu-item routerLink="/about_this_site" routerLinkActive="active" class="dropdownButton">ABOUT THIS SITE</a>

  <a mat-menu-item routerLink="/fora" class="dropdownButton" *ngIf="isAuthenticated">FORA</a>

  <button mat-menu-item routerLink="login" routerLinkActive="active" class="dropdownButton" *ngIf="!isAuthenticated">LOGIN</button>

  <button mat-menu-item (click)="logout()" class="dropdownButton" *ngIf="isAuthenticated">LOGOUT</button>
</mat-menu>