.emberPaging {
    position: relative;
}

.buttonsHidden {
    visibility: hidden;
}

.buttonsVisible {
    visibility: visible;
}

#emberPageUp, #emberPageDown {
    position: fixed;
    left: 50%;
}

#emberPageUp {
    top: 3rem;
}

#emberPageDown {
    bottom: 0.3rem;
}