@import 'src/theme';

@function get-theme-color($palette, $member: "default") {
    @if type-of($palette) != string {
        @error '"$palette" must be a string';
    }
    @if type-of($member) != string {
        @error '"$name" must be a string';
    };
    @if type-of($my-theme) != map {
        @error 'No theme has been assigned. "new-mat-light-theme()" or "new-mat-dark-theme()" must be assigned to $my-theme.';
    };


    //If $palette is found in $main
    @if (null != index($main, $palette)) {
        //If $member is not found in $main-members
        @if (null == index($main-members, $member)) {
            @error '"$member" must be one of #{inspect($main-members)}';
        }
    } @else if ($palette == "foreground") {
        @if (null == index($foreground-members, $member)) {
            @error '"$member" must be one of #{inspect($foreground-members)}';
        }
    } @else if ($palette == "background") {
        @if (null == index($background-members, $member)) {
            @error '"$member" must be one of #{inspect($background-members)}';
        }
    
    //If $palette is not found in $main or $secondary
    } @else {
        @error '"$palette" must be one of #{inspect($main)}, #{inspect($secondary)}';
    }

    @return map-get(map-get($my-theme, $palette), $member);
}


$main: ("primary", "accent", "warn");
$secondary: ("foreground", "background");

$main-members: ("default", "lighter", "darker", "text", "default-contrast", "lighter-contrast", "darker-contrast");
$foreground-members: ( "base", "divider", "dividers", "disabled", "disabled-button", "disabled-text", "elevation", "hint-text", "secondary-text", "icon", "icons", "text", "slider-min", "slider-off", "slider-off-active" );
$background-members: ("status-bar", "app-bar", "background", "hover", "card", "dialog", "disabled-button", "raised-button", "focused-button", "selected-button", "selected-disabled-button", "disabled-button-toggle", "unselected-chip", "disabled-list-option", "tooltip");