<div HorizontalScroll class="notFoundParent">
    <div class="nfText">
        <h1 id="num404">404</h1>
        <h1 id="notFound">Page Not Found</h1>
        <p id="nfParagraph">This site has 6 pages.</p>
        <p id="nfParagraph">Try: 
            <span class="nfLink"><a mat-stroked-button [routerLink]="['/home']">/home</a></span>
            <span class="nfLink"><a mat-stroked-button [routerLink]="['/about_this_site']">/about_this_site</a></span>
            <span class="nfLink"><a mat-stroked-button [routerLink]="['/login']">/login</a></span>
            <span class="nfLink"><a mat-stroked-button [routerLink]="['/fora']">/fora</a></span>
            <span class="nfLink"><a mat-stroked-button [routerLink]="['/not_here']">/not_here</a></span>
        
            <br>or continue scrolling and enjoy the view of Lake Pedder from Mt. Eliza, from
            
            <span><a href="https://commons.wikimedia.org/wiki/File:Lake_Pedder_From_Mt_Eliza.jpg"
                rel="noopener" target="_blank">Wikimedia Commons</a>
            </span>
            by 
            <span><a href="https://www.jjharrison.com.au/" rel="noopener" target="_blank">JJ Harrison</a></span>
        </p>
    </div>
    <img src="assets\nature\Lake_Pedder_From_Mt_Eliza.jpg" alt="Lake Pedder from Mt. Eliza" id="lakePedder">
</div>