<div class="fora">
    <ng-container *ngFor="let ember of this.EmberService.embers; index as i; first as isFirst;" >
        <app-ember class="ember" id="{{'ember' + i}}" EmberHeight
            [startStream]="ember" (destroy)="this.EmberService.removeEmber($event, i)">
        </app-ember>
    </ng-container>
</div>

<app-ember-pagination></app-ember-pagination>

<div *ngIf="(EmberService.embers.length == 0) && suggestions != undefined" id="suggestionBox">
    <p id="ph1">Suggestions:</p>
    <div id="suggestions">
        <div *ngFor="let s of suggestions" 
        (click)="EmberService.addEmber('reddit', s.subPlatform, s.sort, s.time)" id="suggestion">
            <p id="ph2">r/{{s.subPlatform}}</p>
            <p id="ph4">Sort: {{s.sort}}</p>
            <p id="ph4" *ngIf="s.displayTime">Time: {{s.displayTime}}</p>
        </div>
    </div>
    <p id="ph5">Full list in bottom right options menu</p>
</div>

<div *ngIf="(this.RedditService.redditAccountExists | async) == false" id="startHere">
    <h1>Start here</h1>
    <mat-icon>arrow_forward</mat-icon>
</div>

<div id="options">
    <div *ngIf="optionsVisible" id="optionsContainer">
        <button mat-mini-fab (click)="HeightService.zoomIn(true)" [disabled]="!(HeightService.letBigger | async)" id="bigger"
            matTooltip="MAKE EMBERS BIGGER" matTooltipPosition="left">
            <mat-icon>zoom_in</mat-icon>
        </button>

        <button mat-mini-fab (click)="HeightService.zoomIn(false)" [disabled]="!(HeightService.letSmaller | async)" id="smaller"
            matTooltip="make embers smaller" matTooltipPosition="left">
            <mat-icon>zoom_out</mat-icon>
        </button>

        <button mat-mini-fab (click)="openBottomSheet()" class="excludeIcon" id="add"
            matTooltip="Add a new feed." matTooltipPosition="left">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>

    <button mat-fab (click)="openCloseOptions()" color="accent" id="optionsButton"
        matTooltip="Options" matTooltipPosition="left">
        <mat-icon>{{optionsIcon}}</mat-icon>
    </button>
</div>